
<div id="container">
  <h1>URL Shortener</h1>
  <%= form_for @link, url: {action: "create"}, html: {id: "new_url"} do |f| %>
    URL you want to shorten <%= f.text_field :url %>
    <%= f.submit value: "Submit"%>
  <% end %>
</div>
